/* start banner */
.swiper {
  width: 100%;
  height: 435px;
  border-radius: 8px;
  /* background-color: #fff; */
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  border-radius: 8px;
  object-fit: cover;
}

section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  font-size: 30px;
  line-height: 2.25;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.items {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
}
.item {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  padding: 3px;
  background-color: rgb(30 41 59);
  color: white;
  flex: 1;
}
.item img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}
.item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.item-title {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
}
.item-button {
  padding: 12px 24px;
  border-radius: 0.5rem /* 8px */;
  text-transform: uppercase;
  border-radius: 0.5rem /* 8px */;
  width: 100%;
  background-color: #f15252;
  margin-bottom: 5px;
}
